config.mk
build/
libmgl.dylib

MGL.xcodeproj/project.xcworkspace/xcuserdata/

external/SPIRV-Cross
external/SPIRV-Headers
external/SPIRV-Tools
external/ezxml
external/glslang
external/OpenGL-Registry
